.axis path,
.axis line {
	fill: none;
	stroke: black;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 0.9em;
}

.mapTitle,#mapTitle {
	top: 100;
	color: green;
	font-size: 35px; 
}



html, body, #map {
	color: black;
	width: 100%;
	border-top-width: 100;
	margin: 100;
	padding: 0;
 	background-color: rgba(232, 241, 235, 0.2);
}

.tick {
	color: black;
	font-size: 10px;
}

.title {
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}


.state {
	stroke: #000;
	stroke-width: 0.5px;
	stroke-linecap: round;
}

.map {
	border: medium solid #999;
	margin: 10px 0 0 20px;
}

.chart {
	float: right;
	margin: 7px 20px 0 0;
	border: medium solid #999;
	float: right;
	margin: 10px 20px 0 0;
}

*.bar {
	z-index: -1;
}
.bar WA {
	z-index: -1;
}

.chartTitle {
	font-family: sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	z-index: 100;
}

.chartBackground {
	fill: rgba(247, 241, 241, 0.2);
}

.chartFrame {
	fill: none;
	stroke: #999;
	stroke-width: 3px;
	shape-rendering: crispEdges;
}

.axis path,
.axis line {
	fill: none;
	stroke: #999;
	stroke-width: 1px;
	shape-rendering: crispEdges;
	
}

.axis text {
	font-family: sans-serif;
	color: black; 
	font-size: 0.8em;
	fill: #999;
}

.numbers {
	font-size: 9px;
	color: darkgreen;
	font-family: sans-serif;
}
.dropdown {
	position: absolute;
	top: 200px;			
	left: 40px;		
	z-index: 10;
	font-family: sans-serif;
	font-size: .8em;
	font-weight: bold;
	padding: 2px;
	border: 1px solid #999;
	box-shadow: 2px 2px 4px #999;
	
}
option {
	font-weight: normal;
}
.infolabel {
	position: absolute;
	height: 50px;
	min-width: 90px;
	color: #fff;
	background-color: #8b8484;
	border: solid thin #fff;
	padding: 5px 10px;
	font-family: roboto;
}

.infolabel h1 {
	margin: 0 20px 0 0;
	font-size: 20px;
	padding: 0;
	display: inline-block;
	line-height: 1em;
	
}
.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

#sources {
	position: fixed;
	bottom: 1px;			
	right: 3px;
	
}

#akTable{
	position: absolute;
	bottom:0px;
	left: 0;
}


.popup {
	/* position: relative; */
	/* display: inline-block; */
	cursor: pointer;
	align-self: center
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: black;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	/* position: absolute; */
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
	/* position: absolute; */
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
	background-color: #999
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }